/.idea
/frontend
/node_modules
/data
/test
**/.dockerignore
/private
**/.git
**/.gitignore
**/docker-compose*
**/[Dd]ockerfile*
LICENSE
README.md
.editorconfig
.vscode
.eslint*
.stylelint*
/.github
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
.env
/tmp
/babel.config.js

.DS_Store
*.local
*.iml
